{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
    #padding-objetos {
        justify-content: left;
        text-align: left;
    }

    #padding-objetos2 {
        justify-content: right;
        text-align: left;
    }
</style>

{% endblock css %}


{% block tagizq %}
<a href="{%url 'LOGIN'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px; ">Login</a>
<a href="{%url 'REGISTER'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Register</a>
<a href="#" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Account</a>
<a href="{%url 'IND'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Inicio</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>

{% endblock tagizq %}

{% block titulo %}
Trabajo numero: X
{% endblock titulo %}


{% block contenido %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:600px; height:500px; margin-left:200px;">
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img class="d-block w-100" src="{% static 'img/icon_emp.png' %}" alt="First slide"style="width:800px; height:500px;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- Carrusel -->
</div>
<br>
<div class="container">
    <div class="row row-cols-2" style="border: solid 5px white; background-color: #ffd859; border-radius: 5px;" >
        <span class="border border-warning">
            <div class="col" id="padding-objetos">
                <div>
                    <label for="fecha" class="col-sm2 col-form-label"
                        style="color: black; font-size: 20px; font-weight: bold;">Fecha del trabajo :
                    </label>
                </div>
                <div>
                    <label for="trabajador" class="col-sm2 col-form-label"
                        style="color: black; font-size: 20px; font-weight: bold;">Cuenta del trabajador :
                    </label>
                </div>
                <div>
                    <label for="tipotrab" class="col-sm2 col-form-label"
                        style="color: black; font-size: 20px; font-weight: bold;">Tipo de trabajo :
                    </label>
                </div>
            </div>
        </span>

        <span class="border border-warning">
            <div class="col" id="padding-objetos2">
                <div>
                    <label for="descripcion" class="col-sm2 col-form-label"
                        style="color: black; font-size: 20px; font-weight: bold;">Descripcion del trabajo :
                    </label>
                </div>
                <div>
                    <label for="trabajador" class="col-sm2 col-form-label"
                        style="color: black; font-size: 20px; font-weight: bold;">Materiales utilizados :
                    </label>
                </div>
                <div>
                    <label for="trabajador" class="col-sm2 col-form-label"
                        style="color: black; font-size: 20px; font-weight: bold;">Comentarios :
                    </label>
                </div>
            </div>
        </span>
    </div>
</div>

{% endblock contenido %}


{% block js %}


{% endblock js %}