{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- hojas personales de css -->
{% endblock css %}

{% block tagizq %}
<!-- añada los tag izq -->
<a href="{%url 'LOGIN'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px; ">Login</a>
<a href="{%url 'REGISTER'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Register</a>
<a href="{% url 'CUENTA' %}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Account</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>
{% endblock tagizq %}

{% block titulo %}
Trabajos de la semana
{% endblock titulo %}

{% block contenido %}
<!-- añada el contenido personal de la página -->
<div class="container" style="padding:15px 5px 15px 5px;">
    <a href="{% url 'SOLSER' %}" style="margin: 100px 100px 100px 100px;">
        <button type="button" class="btn btn-dark">Solicitud de Servicio</button></a>


    <a href="{% url 'ANTERIORES' %}" style="margin: 100px 100px 100px 100px;">
        <button type="button" class="btn btn-dark">Trabajos Anteriores</button></a>

</div>

<form action="">
    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
</form>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/icon_emp.png' %}" alt="First slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock contenido %}

{% block js %}
<!-- añada sus scripts -->
{% endblock js %}