    {% extends "base.html" %}
    {% block css %}
    <!-- SOLO EXISTO PARA SER COPYPASTEADA EN CADA PÁGINA -->
    <!-- hojas personales de css -->
    {% endblock css %}

    {% block tagizq %}
    <!-- añada los tag izq -->
    {% endblock tagizq %}

    {% block tagder1 %}
    <!-- añada el tag personal derecha-->
    {% endblock tagder1 %}

    {% block tagder %}
    <!-- añada el resto de tags personales a la derecha-->
    {% endblock tagder %}   

    {% block titulo %}
    <!-- añada el título-->    algo
    {% endblock titulo %}
    
    {% block contenido %}
    <!-- añada el contenido personal de la página -->    
    {% endblock contenido %}
    
    {% block js %}
    <!-- añada sus scripts -->
    {% endblock js %}