{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- SOLO EXISTO PARA SER COPYPASTEADA EN CADA PÁGINA -->
<!-- hojas personales de css -->
{% endblock css %}

{% block tagizq %}
<!-- añada los tag izq -->
<a href="{% url 'IND' %}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Inicio</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>
{% endblock tagizq %}


{% block titulo %}
Registrar trabajador
{% endblock titulo %}

{% block contenido %}
<!-- añada el contenido personal de la página -->

<form action="{% url 'REGWORK' %}" method="POST" onsubmit="return validar_trabajador()">
    {% csrf_token %}
    <div class="form-group row">
        <label for="txtRut" class="col-sm-2 col-form-label"
            style="color:#ffd859; font-size: 20px; font-weight: bold;">Rut: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="txtRut" id="txtRut" placeholder="Run">
        </div>
        <div id="error_0"></div>
    </div>
    <br>
    <div class="form-group row">
        <label for="txtEmail" class="col-sm-2 col-form-label"
            style="color:#ffd859; font-size: 20px; font-weight: bold;">Correo: </label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email">
        </div>
        <div id="error_1"></div>
    </div>
    <br>
    <div class="form-group row">
        <label for="txtNombre" class="col-sm-2 col-form-label"
            style="color:#ffd859; font-size: 20px; font-weight: bold;">Nombre: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="Name">
        </div>
        <div id="error_2"></div>
    </div>
    <br>
    <div class="form-group row">
        <label for="txtPasslog" class="col-sm-2 col-form-label"
            style="color:#ffd859; font-size: 20px; font-weight: bold;">Contraseña: </label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="txtPasslog" name="txtPasslog" placeholder="Password">
        </div>
        <div id="error_3"></div>
    </div>
    <br>
    <div class="form-group row">
        <label for="txtEsp" class="col-sm-2 col-form-label"
            style="color:#ffd859; font-size: 20px; font-weight: bold;">Especialidad: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="txtEsp" id="txtEsp" placeholder="Specialty">
        </div>
        <div id="error_4"></div>
    </div>
    <br>
    <div class="form-group row">
        <label for="txtTel" class="col-sm-2 col-form-label"
            style="color:#ffd859; font-size: 20px; font-weight: bold;">Teléfono: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="txtTel" id="txtTel" placeholder="Telephone">
        </div>
        <div id="error_5"></div>
    </div>
    <br>
    <div clas="form-group">
        <button type="submit" class="btn btn-dark">Registrar</button>
    </div>
</form>
{% endblock contenido %}

{% block js %}
<!-- añada sus scripts -->
<script src="{% static 'js/jspersonal/registrotrab.js' %}"></script>
{% endblock js %}