{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- SOLO EXISTO PARA SER COPYPASTEADA EN CADA PÁGINA -->
<!-- hojas personales de css -->
{% endblock css %}

{% block tagizq %}
<!-- añada los tag izq -->
<a href="{%url 'LOGIN'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px; ">Login</a>
<a href="{%url 'REGISTER'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Register</a>
<a href="{% url 'CUENTA' %}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Account</a>
<a href="{%url 'IND'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Inicio</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>
{% endblock tagizq %}


{% block titulo %}
Solicitud de Trabajo
{% endblock titulo %}

{% block contenido %}
<!-- añada el contenido personal de la página -->
<form action="{%url 'SOLSER' %}" method="POST" onsubmit="return solicitudt()" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="txtEmail" style="color:#ffd859; font-size: 20px; font-weight: bold;">Correo</label>
        <br>
        <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="name@example.com">
    </div>
    <div id="error_0"></div>
    <br>
    <div class="form-group">
        <label for="txtTel" style="color:#ffd859; font-size: 20px; font-weight: bold;">Teléfono</label>
        <br>
        <input type="text" class="form-control" name="txtTel" id="txtTel">
    </div>
    <div id="error_1"></div>
    <br>
    <div class="form-group">
        <label for="txtDesc" style="color:#ffd859; font-size: 20px; font-weight: bold;">Descripción</label>
        <br>
        <textarea class="form-control" name="txtDesc" id="txtDesc" rows="3"></textarea>
    </div>
    <div id="error_2"></div>
    <br>
    <div class="form-group">
        <label for="txtFile" style="color:#ffd859; font-size: 20px; font-weight: bold;">Ingrese Imagen</label>
        <br>
        <input type="file" class="form-control-file" id="txtFile" name="txtFile">
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
</form>
{% endblock contenido %}

{% block js %}


<script src="{% static 'js/jspersonal/solicitudes.js' %}"></script>
{% endblock js %}